# Description: This file is used to store the files and directories that should be ignored by git.

# * Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.so
*.egg
*.egg-info/
dist/
build/
*.egg-info/
*.egg
*.pyc
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
*.egg-info/
*.egg
     
# * Environments
.env
.venv/
env/
venv/
ENV/
     
# * Discord
config.json
     
# * IDEs
.vscode/
.idea/
     
# * OS
.DS_Store